# Виртуальное окружение
venv/

# Папки кэша
__pycache__/
*.py[cod]

# Логи
*.log

# Временные файлы
*.tmp

# Файлы конфигурации IDE
.vscode/
.idea/

# Системные файлы
.DS_Store

# Файлы конфиденциальных данных
*.env

# Datasets
*.csv

# Drivers
*.exe